@using ProjektIO.Entities;
@model ProjektIO.Entities.Transactions

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Transactions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TargetUserId" class="control-label"></label>
                <select asp-for="TargetUserId" class ="form-control" asp-items="ViewBag.TargetUserId"></select>
            </div>
            <div class="form-group">
                @if (User.IsInRole("Admin"))
                {
                    <label asp-for="TransactionType" class="control-label"></label>
                <select asp-for="TransactionType" asp-items="Html.GetEnumSelectList<TypeOfTransaction>()" class="form-control"></select>
                    <span asp-validation-for="TransactionType" class="text-danger"></span>
                } 

            </div>
            <div class="form-group">
                <label asp-for="AmountOfTransaction" class="control-label"></label>
                <input asp-for="AmountOfTransaction" type="number" class="form-control" />
                <span asp-validation-for="AmountOfTransaction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HedgefundId" class="control-label"></label>
                <select asp-for="HedgefundId" class ="form-control" asp-items="ViewBag.HedgefundId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
